/* Reset everything, Gangnam style, er, I mean Eric Meyer style */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
The Ecstasy and Agony of Compass Sprites, Part 1
Creating icons for a horizontal top nav bar
*/
.nav-icons-sprite, .nav-icons-comment, nav ul li a.comment, .nav-icons-newspaper, nav ul li a.news, .nav-icons-shoppingcart, nav ul li a.buy, .nav-icons-telephone, nav ul li a.touch {
  background: url('/images/nav-icons-sd7ce5747c3.png') no-repeat;
}

.nav-icons-comment, nav ul li a.comment {
  background-position: 0 -131px;
}

.nav-icons-newspaper, nav ul li a.news {
  background-position: 0 -90px;
}

.nav-icons-shoppingcart, nav ul li a.buy {
  background-position: 0 0;
}

.nav-icons-telephone, nav ul li a.touch {
  background-position: 0 -45px;
}

nav ul {
  background-color: #dfdfdf;
  overflow: hidden;
  padding: 0 5px;
}
nav ul li {
  float: left;
}
nav ul li a {
  color: #222;
  display: block;
  font-weight: bold;
  margin-right: 15px;
  padding: 0.5em 0.5em 0.5em 35px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
nav ul li a.news {
  background-position: 0 -86px;
}
nav ul li a.comment {
  background-position: 0 -127px;
}
nav ul li a.touch {
  background-position: 0 -42px;
}
nav ul li a.buy {
  background-position: 0 4px;
}

/*
The Ecstasy and Agony of Compass Sprites, Part 2
Creating icons for a social media extravaganza footer
*/
footer {
  margin-bottom: 20px;
  overflow: hidden;
}
footer li {
  float: left;
}
footer li a {
  margin-right: 15px;
  background: url('/images/social-icons-s79715d744c.png') no-repeat;
  height: 32px;
  width: 32px;
}
footer li a.twitter {
  background-position: 0 -64px;
}
footer li a.facebook {
  background-position: 0 -128px;
}
footer li a.linkedin {
  background-position: 0 -96px;
}
footer li a.googleplus {
  background-position: 0 -32px;
}
footer li a.pinterest {
  background-position: 0 0;
}
@media only all and (-webkit-min-device-pixel-ratio: 1.5), only all and (min--moz-device-pixel-ratio: 1.5), only all and (-o-min-device-pixel-ratio: 3 / 2), only all and (min-device-pixel-ratio: 1.5), only all and (min-resolution: 144dpi), only all and (min-resolution: 1.5dppx) {
  footer li a {
    background-image: url('/images/social-icons-hidpi-sb5faf7fdff.png');
    background-size: 32px auto;
  }
  footer li a.twitter {
    background-position: 0 0;
  }
  footer li a.facebook {
    background-position: 0 -64px;
  }
  footer li a.linkedin {
    background-position: 0 -96px;
  }
  footer li a.googleplus {
    background-position: 0 -128px;
  }
  footer li a.pinterest {
    background-position: 0 -32px;
  }
}

/* Other things, not germane to the tutorials. */
body {
  font-family: sans-serif;
  margin: 2em auto;
  max-width: 1024px;
  width: 75%;
}

article[rel="main"] {
  margin: 0 0 2em;
  width: 100%;
}
article[rel="main"] img {
  height: auto;
  max-width: 100%;
}
article[rel="main"] p {
  margin: 0.5em 0;
}

footer li a {
  display: block;
  overflow: hidden;
  text-indent: 102%;
  white-space: nowrap;
}
