/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";




// Sprite Generation via Compass

/*
$test-icons-sprite-dimensions: true;
*/

$nav-icons-spacing: 20px;
@import "nav-icons/*.png";
@include all-nav-icons-sprites;

body {
	font-family: sans-serif;
	margin: 2em auto;
	width: 75%;
}

ul {
	background-color: #dfdfdf;
	overflow: hidden;
	padding: 0 5px;

	li {
		float: left;

		a {
			color: #222;
			display: block;
			font-weight: bold;
			margin-right: 15px;
			padding: 0.5em 0.5em 0.5em 35px;
			position: relative;
			text: {
				decoration: none;
				transform: uppercase;
			}

			&.news {
				@extend .nav-icons-newspaper;
				@include sprite-background-position($nav-icons-sprites, newspaper, 0, 4px);
			}
			&.comment {
				@extend .nav-icons-comment;
				@include sprite-background-position($nav-icons-sprites, comment, 0, 4px);
			}
			&.touch {
				@extend .nav-icons-telephone;
				@include sprite-background-position($nav-icons-sprites, telephone, 0, 3px);
			}
			&.buy {
				@extend .nav-icons-shoppingcart;
				@include sprite-background-position($nav-icons-sprites, shoppingcart, 0, 4px);
			}
		}
	}
}
