/* Reset everything, Gangnam style, er, I mean Eric Meyer style */

@import "compass/reset";




/*
The Ecstasy and Agony of Compass Sprites, Part 1
Creating icons for a horizontal top nav bar
*/

$nav-icons-spacing: 20px;
@import "nav-icons/*.png";
@include all-nav-icons-sprites;

nav {
	ul {
		background-color: #dfdfdf;
		overflow: hidden;
		padding: 0 5px;

		li {
			float: left;

			a {
				color: #222;
				display: block;
				font-weight: bold;
				margin-right: 15px;
				padding: 0.5em 0.5em 0.5em 35px;
				position: relative;
				text: {
					decoration: none;
					transform: uppercase;
				}

				&.news {
					@extend .nav-icons-newspaper;
					@include sprite-background-position($nav-icons-sprites, newspaper, 0, 4px);
				}
				&.comment {
					@extend .nav-icons-comment;
					@include sprite-background-position($nav-icons-sprites, comment, 0, 4px);
				}
				&.touch {
					@extend .nav-icons-telephone;
					@include sprite-background-position($nav-icons-sprites, telephone, 0, 3px);
				}
				&.buy {
					@extend .nav-icons-shoppingcart;
					@include sprite-background-position($nav-icons-sprites, shoppingcart, 0, 4px);
				}
			}
		}
	}
}



/*
The Ecstasy and Agony of Compass Sprites, Part 2
Creating icons for a social media extravaganza footer
*/

$social-icons: sprite-map("social-icons/*.png");
$social-icons-hidpi: sprite-map("social-icons-hidpi/*.png");

footer {
	margin-bottom: 200px;

	li {
		float: left;

		a {
			@extend %ir;
			margin-right: 15px;
			background: $social-icons no-repeat;
			@include sprite-dimensions($social-icons, twitter);

			&.twitter {
				background-position: sprite-position($social-icons, twitter);
			}

			&.facebook {
				background-position: sprite-position($social-icons, facebook);
			}

			&.linkedin {
				background-position: sprite-position($social-icons, linkedin);
			}

			&.googleplus {
				background-position: sprite-position($social-icons, googleplus);
			}

			&.pinterest {
				background-position: sprite-position($social-icons, pinterest);
			}

			@media only all and (-webkit-min-device-pixel-ratio: 1.5),
				only all and (min--moz-device-pixel-ratio: 1.5),
				only all and (-o-min-device-pixel-ratio: 3/2),
				only all and (min-device-pixel-ratio: 1.5),
				only all and (min-resolution: 144dpi),
				only all and (min-resolution: 1.5dppx) {

				background-image: sprite-url($social-icons-hidpi);
				background-size: 32px auto;

				&.twitter {
					background-position: 0 round(nth(sprite-position($social-icons-hidpi, twitter), 2) / 2);
				}

				&.facebook {
					background-position: 0 round(nth(sprite-position($social-icons-hidpi, facebook), 2) / 2);
				}

				&.linkedin {
					background-position: 0 round(nth(sprite-position($social-icons-hidpi, linkedin), 2) / 2);
				}

				&.googleplus {
					background-position: 0 round(nth(sprite-position($social-icons-hidpi, googleplus), 2) / 2);
				}

				&.pinterest {
					background-position: 0 round(nth(sprite-position($social-icons-hidpi, pinterest), 2) / 2);
				}
			}
		}
	}
}


/* Other things, not germane to the tutorials. */

body {
	font-family: sans-serif;
	margin: 2em auto;
	max-width: 1024px;
	width: 75%;
}

article[rel="main"] {
	margin: 0 0 2em;
	width: 100%;

	img {
		height: auto;
		max-width: 100%;
	}
}

%ir {
	display: block;
	overflow: hidden;
	text-indent: 102%;
	white-space: nowrap;
}
